<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="RowSheet Django App">
        <title>RowSheet - Django Base</title>

        <!-- Bootstrap core CSS -->
        <link href="/static/base/bootstrap.min.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="/static/base/index.css" rel="stylesheet">

    </head>
    <body class="text-center">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand">
                <a href="/">
                    Title
                </a>
            </h3>
            <nav class="nav nav-masthead justify-content-center">
               <a class="nav-link active" href="/">Home</a>
               <a class="nav-link" href="/db">Database Test</a>
            </nav>
        </div>
    </header>

    <main role="main" class="inner cover">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="mastfoot mt-auto">
        <div class="inner">
            <a href="https://rowsheet.com/"
                class="text-muted">
                © 2019, RowSheet LLC
            </a>
        </div>
    </footer>
</div>
</body>
</html>
