{% extends "base.html" %}
{% load static %}

{% block content %}

<h1 class="cover-heading">
    RowSheet - Django Base.
</h1>
<p class="lead">
A base Django App by RowSheet, intended to be deployed to Heroku.
</p>
<p class="text-muted">
Note: Highly similar to Heroku's Getting Started guide for Python
</p>
<a href="https://github.com/rowsheet/django_base"
    class="btn btn-primary">
    RowSheet - Django Base
</a>
<a href="https://github.com/heroku/python-getting-started"
    class="btn btn-primary">
    Heroku - Python Getting Started
</a>

{% endblock %}
